---
layout: default
---
{% assign sortedpages = site.pages | sort: 'title' %}
{% assign sortedinfosessions = site.data.info_sessions | sort: 'date' %}
<section class="usa-hero padding-y-6">
  <div class="grid-container">
      <h1 class="usa-hero__heading--alt font-heading-l font-family-sans margin-top-0 tablet:margin-bottom-0">
        Do you want an opportunity to make a difference?
      </h1>
      <h2 class="usa-hero__heading margin-top-2 font-heading-2xl line-height-heading-4">
        Help us <span class="usa-hero__heading--highlight">design and deliver a digital government</span> with and for the American public
      </h2>
  </div>
</section>
<section class="usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="desktop:grid-col-12 margin-bottom-3">
        <p class="usa-intro margin-top-0">
          The Fine Arts Collection is one of the nation's oldest and largest public art collections dating from the 1850s to the present. These civic artworks are displayed in federal buildings and courthouses nationwide. 
          
          In addition, more than 23,000 easel paintings, prints, and small-scale sculptures created during the New Deal are on long-term loan to museums and other non-profit institutions across the United States. Maintained by GSA as a part of America's national and cultural heritage, the Fine Arts Collection also serves as a reminder of the important tradition of individual creative expression.
        </p>
      </div>
    </div>
</section>
